{% extends "layout.html" %} {% block content %}
<div class="row">
  <div class="col-xl-12 grid-margin stretch-card flex-column">
    <div class="row">
      <div class="col-md-10 grid-margin stretch-card mx-auto flex-column">
        <div class="row justify-content-between">
          <h4
            class="mb-2 text-titlecase mb-4 mr-auto ml-3 align-content-center"
          >
            Cases
          </h4>
          <button
            type="button"
            class="btn btn-info btn-lg btn-icon-text ml-auto mr-3 mb-4 h-75"
            onclick="addCase(JSON.parse('{{ current_user.email_verified | tojson}}'))"
          >
            Add Case
            <i class="mu mu-plus btn-icon-append"></i>
          </button>
        </div>
        <div class="card">
          {% if cases %}
          <div class="table-responsive pt-3">
            <table id="cases-table" class="table hover">
              <thead>
                <tr>
                  <th class="ml-5"></th>
                  <th class="ml-5">Case ID</th>
                  <th>Patient Name</th>
                  <th>Image Count</th>
                  <th>Date Created</th>
                  <th>Last Modified</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
            </table>
          </div>
          {% else %}
          <div
            class="d-md-flex justify-content-between align-items-center col-md-auto mx-auto"
          >
            <button
              type="button"
              class="btn btn-info btn-lg btn-icon-text btn-block mr-3 mb-4 h-50 mt-4"
              onclick="addCase(JSON.parse('{{ current_user.email_verified | tojson}}'))"
            >
              Add Case
              <i class="mu mu-plus btn-icon-append"></i>
            </button>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
