{% extends "email_layout.html" %} {% block email_content %}
<main id="main">
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="section-title">
        <h2>Hey {{ user.display_name() }}!</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>Looks like you forgot your password. No worries.</p>
          <p>Click the button below to change your password.</p>
          <a
            href="{{ change_url }}"
            title="Change password"
            class="btn-learn-more"
            >Change Password</a
          >
          <p>The link will expire in 1 hour.</p>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
